<div class="clientes container" ng-controller="listaClienteCtrl">
    <h1 class="clientes-title">{{title}}</h1>
    <div class="clientes-content">
        <a href="#!/cadastro">CADASTRAR NOVO CLIENTE</a>
        <input class="form-control col-md-4" type="text" ng-model="filtroCliente" placeholder="PESQUISAR...">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>NOME</th>
                    <th>TELEFONE</th>
                    <th>DATA DE NASCIMENTO</th>
                    <th>EMAIL</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in clientes | filter:filtroCliente track by $index">
                    <td>{{cliente.ID_CLIENTE}}</td>
                    <td><a href="#!/detalhesCliente/{{cliente.ID_CLIENTE}}">{{cliente.NOME | uppercase}}</a></td>
                    <td>{{cliente.TELEFONE}}</td>
                    <td>{{cliente.DT_NASCIMENTO | date:'dd/MM/yyyy'}}</td>
                    <td>{{cliente.EMAIL}}</td>
                    <td>{{cliente.STATUS}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>